.intro__list {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  font-family: 'Inter-Bold', Helvetica, sans-serif;
  list-style-type: none;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}