@font-face {
    font-family: 'Inter';
    src: url("./Inter-3.19/Inter Web/Inter-Regular.woff2"),
         url("./Inter-3.19/Inter Web/Inter-Regular.woff");
    font-weight: normal;
}
    
@font-face {
    font-family: 'Inter';
    src: url("./Inter-3.19/Inter Web/Inter-Bold.woff2"),
         url("./Inter-3.19/Inter Web/Inter-Bold.woff");
    font-weight: bold;
}
   
@font-face {
    font-family: 'Inter';
    src: url("./Inter-3.19/Inter Web/Inter-Black.woff2"),
         url("./Inter-3.19/Inter Web/Inter-Black.woff");
    font-weight: 900;     
}
  