.cover__background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("./../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cover__background::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: .8;
}